.fondo{
    background-image: url(celeste.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 20px 25px;
    margin-top: 120px;
}

.fondo h1{
    font-family: 'Bree Serif', serif;
}